@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

main, footer {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

/* Header style */
header {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

.header-container {
    width: 1440px;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    justify-content: space-between;
    margin-bottom: 116px;
    align-items: center;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 50px;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}

/* Bannar styles */
.bannar-content {
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: rgb(114, 114, 114);
    margin-top: 20px;
}

.bannar-img {
    border-radius: 8px;
    height: 700px;
    margin-top: 50px;
}

/* Teams and features related style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 537px;
}

#fea-ti-1 {
    color: #727272;
    font-weight: 500;
}

#fea-ti-3 {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-width: 540px;
}
/* Features related styles */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}

/* Some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section-title {
    margin-bottom: 24px;
}
.fact-card {
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.75rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}
/* Sponspors related styles */
.sponspors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponspors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponspors-companies img{
    filter: grayscale(100%);
}

/* Footer related styles */
footer {
    margin-top: 130px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 39px 410px;
    border-radius: 8px;
}
.footer-description{
    font-size: 1.25rem;
    color: #424242;
    text-align: center;
}


@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container,
    .sponspors-companies 
    {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }
    .facts-container, .sponspors-companies{
        justify-content: center;
        gap: 24px;
    }

    .our-features {
        margin-left: 20px;
    }
}