@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}

/* Header style */
header {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

.header-container {
    width: 1440px;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    justify-content: space-between;
    margin-bottom: 116px;
    align-items: center;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 50px;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}

/* Bannar styles */
.bannar-content {
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: rgb(114, 114, 114);
    margin-top: 20px;
}
.bannar-img{
    border-radius: 8px;
    height: 700px;
    margin-top: 50px;
}

/* Teams and features related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 537px;
}

#fea-ti-1{
    color: #727272;
    font-weight: 500;
}
#fea-ti-3{
    color:#FF900E;
}
.feature-description{
    color: #727272;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* Some facts related styles */
.section-title{
    margin-bottom: 24px;
}


@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams
    {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }
    .our-features{
        margin-left: 20px;
    }
}